body {
  background: black;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.keyboard {
  display: flex;
  height: 100%;
  justify-content: center;
  flex-direction: column;
}

.row {
  display: flex;
  justify-content: center;
  margin-bottom: 22px;
}


.key {
  animation: appear 2.5s;
  padding: 36px 36px;
  border: 4px solid white;
  border-radius: 10px;
  margin: 0 11px;
  text-transform: uppercase;
  text-align: center;
  font-size: 24px;
  transition: all ease .5s;
}

.key.active {
  background-color: white;
  color: black;
}

.key.active.success {
  background-color: #2ecc71;
  color: white;
  border-color: #2ecc71;
}

.key.active.fail {
  background-color: #e74c3c;
  color: white;
  border-color: #e74c3c;
}

@keyframes appear {
  0% {
    color: black;
    border-color: black;
  }
  100% {
    color: white;
    border-color: white;
  }
}

@media (max-width: 1440px) {
  .key {
    padding: 26px 26px;
  }
}

@media (max-width: 1024px) {
  .key {
    padding: 20px 20px;
  }
}

@media (max-width: 1024px) {
  .key {
    padding: 20px 20px;
  }
}

@media (max-width: 769px) {
  .key {
    padding: 12px 12px;
  }
}

@media only screen and (orientation:portrait) and (max-width: 769px){
  html {
    display:block;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}
